<nav class="sidebar">
    <ul class="list-group">
        <a [routerLink]="['/admin/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'dashboard' | translate }}
        </a>
        <a [routerLink]="['/admin/order']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-shopping-bag"></i> Đơn đặt hàng
        </a>
        <a [routerLink]="['/admin/sales']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-newspaper-o"></i> Hóa đơn bán hàng
        </a>
        <a [routerLink]="['/admin/realtime-charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart"></i> Thống kê
        </a>
        <a [routerLink]="['/admin/position']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-map-marker"></i>&nbsp;Sắp xếp sản phẩm
        </a>
        <a [routerLink]="['/admin/coupon']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;Coupon
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp;{{ 'menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <a [routerLink]="['/admin/realtime-charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Real time chart' | translate }}
                    </a>
                    <a [routerLink]="['/admin/order']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Demo Order' | translate }}
                    </a>
                    <a [routerLink]="['/admin/random-charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Random chart' | translate }}
                    </a>
                    <a [routerLink]="['/admin/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'charts' | translate }}
                    </a>
                    <a [routerLink]="['/admin/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'tables' | translate }}
                    </a>
                    <a [routerLink]="['/admin/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'forms' | translate }}
                    </a>
                    <a [routerLink]="['/admin/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'boostrapElement' | translate }}
                    </a>
                    <a [routerLink]="['/admin/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'boostrapGrid' | translate }}
                    </a>
                    <a [routerLink]="['/admin/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-th-list"></i>&nbsp;{{ 'component' | translate }}
                    </a>
                </ul>
            </li>
        </div>
    </ul>
</nav>
