<toaster-container></toaster-container>
<div class="animated bounceInDown no-print">
    <app-page-header [heading]="'Hóa đơn bán hàng'"></app-page-header>
    <div class="row">
        <div class="col-md-2">
            <fieldset class="form-group">
                <input [(ngModel)]="nameInput" (input)="filterName(nameInput)" type="text" class="form-control" placeholder="Tìm theo tên khách hàng" />
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset class="form-group">
                <select class="form-control" #t (change)="filterStatus(t.value)">
                    <option [value]="'tatca'">Tất cả</option>
                    <option [value]="'1'">Đã xác nhận</option>
                    <option [value]="'2'">Đang giao hàng</option>
                    <option [value]="'3'">Hoàn tất</option>
                    <option [value]="'4'">Khách hủy</option>
                </select>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col col-12">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th class="hide-in-mobile">#</th>
                    <th>Thời gian</th>
                    <th>Tên khách hàng</th>
                    <th class="hide-in-mobile">Tổng thu</th>
                    <th class="text-center">Hình thức</th>
                    <th class="text-center" class="hide-in-mobile">Tình trạng</th>
                </tr>
                <tr class="text" *ngFor="let item of filteredItems | paginate: { itemsPerPage: 10, currentPage: currentPage } ; let stt = index">
                    <td class="hide-in-mobile" (click)="open(content); selectItem(item)">{{stt + 1}}</td>
                    <td (click)="open(content); selectItem(item)">{{item.startedAt | date: 'dd/MM/yyyy'}}</td>
                    <td (click)="open(content); selectItem(item)">{{(item.customerInfo && item.customerInfo.name) ? item.customerInfo.name : 'Chưa xác định'}}</td>
                    <td class="hide-in-mobile" (click)="open(content); selectItem(item)">{{item.income | number : '1.0-0' }}</td>
                    <td class="text-center" (click)="open(content); selectItem(item)">
                        <span *ngIf="item.type == '1'">Cửa hàng</span>
                        <span *ngIf="item.type == '2'">Tự giao</span>
                        <span *ngIf="item.type == '4'">Bên thứ 3</span>
                    </td>
                    <td class="text-center"  class="hide-in-mobile" (click)="open(content); selectItem(item)">
                        <span *ngIf="item.status == '1'">Đã xác nhận</span>
                        <span *ngIf="item.status == '2'">Đang giao hàng</span>
                        <span *ngIf="item.status == '3'">Hoàn tất</span>
                        <span *ngIf="item.status == '4'">Khách hủy</span>
                        <span *ngIf="item.status == '5'">Xóa</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <pagination-controls maxSize="5" *ngIf="items && items.length > 0" (pageChange)="currentPage = $event"></pagination-controls>
    </div>

    <ng-template #content let-c="close" let-d="dismiss" style="width: 900px">
        <div class="modal-header">
            <h4 class="modal-title">Chi tiết đơn đặt hàng</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="div-detail"><span class="span-title">Tên : </span>{{(curentItem.customerInfo && curentItem.customerInfo.name) ? curentItem.customerInfo.name : 'Chưa xác định'}}</div>
            <div class="div-detail"><span class="span-title">Điện thoại : </span>{{(curentItem.customerInfo && curentItem.customerInfo.phone) ? curentItem.customerInfo.phone : 'Chưa xác định'}}</div>
            <div class="div-detail"><span class="span-title">Địa chỉ :</span>{{(curentItem.customerInfo && curentItem.customerInfo.address) ? curentItem.customerInfo.address : 'Chưa xác định'}}, {{currentCity.name}}, {{currentDistrict.name}}, {{currentTown.name}}</div>
            <div class="div-detail"><span class="span-title">Ghi chú :</span>{{curentItem.note}}</div>
            <div class="div-detail">
                <span class="span-title">Tình trạng :</span>
                <div ngbDropdown style="display : inline-block" >
                    <span *ngIf="curentItem.status == '1'" ngbDropdownToggle>Đã xác nhận</span>
                    <span *ngIf="curentItem.status == '2'" ngbDropdownToggle>Đang giao hàng</span>
                    <span *ngIf="curentItem.status == '3'" ngbDropdownToggle>Hoàn tất</span>
                    <span *ngIf="curentItem.status == '4'" ngbDropdownToggle>Khách hủy</span>
                    <span *ngIf="curentItem.status == '5'" ngbDropdownToggle>Xóa</span>
                    <div class="dropdown-menu status-action" aria-labelledby="dropdownMenu">
                        <button class="dropdown-item" (click)="changeStatus(curentItem, 2)"
                                *ngIf="curentItem.status != 2"><i class="fa fa-road"></i> Đang giao hàng</button>
                        <button class="dropdown-item" (click)="changeStatus(curentItem, 3)"
                                *ngIf="curentItem.status != 3"><i class="fa fa-check"></i> Hoàn tất</button>
                        <button class="dropdown-item" (click)="changeStatus(curentItem, 4)"
                                *ngIf="curentItem.status != 4"><i class="fa fa-repeat"></i> Khách hủy</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" (click)="changeStatus(curentItem, 5)"><i class="fa fa-trash"></i> Xóa đơn hàng</button>
                    </div>
                </div>

            </div>
            <div class="row row-detail">
                <table class="table table-bordered tbl-cart-detail">
                    <tbody>
                    <tr>
                        <td></td>
                        <td>Sản phẩm</td>
                        <td class="hide-in-mobile">Đơn giá</td>
                        <td>Số lượng</td>
                        <td>Thành tiền</td>
                    </tr>
                    <tr *ngFor="let item of curentItem.itemsincart ; let stt = index">
                        <td>
                            <a [routerLink]="['/chi-tiet', item.code ]" target="_blank">
                                <img src="/assets/default/products/{{item.avatar}}" class="img-cart">
                            </a>
                        </td>
                        <td>
                            <a [routerLink]="['/chi-tiet', item.code ]" target="_blank">{{item.code}}</a>
                        </td>
                        <td class="hide-in-mobile">
                            <div *ngIf="item.saleoff">
                                <del>{{ item.normal_price | number : '1.0-0'}}</del>
                                {{ item.sale_price   | number : '1.0-0'}}
                            </div>
                            <div *ngIf="!item.saleoff">
                                {{ item.normal_price | number : '1.0-0'}}
                            </div>
                        </td>
                        <td>{{item.quantity}}</td>
                        <td>{{(item.quantity * ( item.saleoff ? item.sale_price : item.normal_price )) | number : '1.0-0' }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <table class="table table-bordered" style="width: 100%">
                        <tbody>
                        <tr>
                            <td class="tbl-total-label">
                                Tổng tiền
                                <div class="pull-right">{{ curentItem.totalcal  | number : '1.0-0' }}</div>
                            </td>
                        </tr>
                        <tr *ngIf="curentItem.discount">
                            <td>
                                Giảm giá
                                <div class="pull-right">- {{ curentItem.discount | number : '1.0-0' }}</div>
                            </td>
                        </tr>
                        <tr *ngIf="curentItem.coupon">
                            <td>
                                Coupon giảm giá
                                <div class="pull-right">- {{ curentItem.coupon | number : '1.0-0' }}</div>
                            </td>
                        </tr>

                        <tr *ngIf="curentItem.deliveryfee">
                            <td >
                                Phí giao hàng
                                <div class="pull-right">{{curentItem.deliveryfee | number : '1.0-0' }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tiền thanh toán
                                <div class="pull-right">{{(curentItem.totalcal ? curentItem.totalcal : 0) - (curentItem.discount? curentItem.discount : 0)
                                    + (curentItem.deliveryfee? curentItem.deliveryfee : 0) - (curentItem.coupon? curentItem.coupon : 0)   | number : '1.0-0' }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Lợi nhuận
                                <div class="pull-right">{{curentItem.profit | number : '1.0-0' }}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="printDiv('printContent')">In hóa đơn</button>
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Tắt</button>
        </div>
    </ng-template>


</div>
<div id="printContent" *ngIf="curentItem">
    <div style="width:100%; font-family:  'Open Sans ', -apple-system, system-ui, BlinkMacSystemFont,  'Segoe UI ', Roboto,  'Helvetica Neue ', Arial, sans-serif">
        <div style="float:left; margin-right:10px">
            <img src="http://halley.vn/assets/default/images/logo.png" height="70px">
        </div>
        <div style="float: left">
            <strong>Hotline:</strong><span> 097.456.9396 </span>
            <br>
            <strong>Địa chỉ:</strong><span> 114/62 Phạm Văn Chiêu, Phường 9, Quận Gò Vấp, Tp Hồ Chí Minh</span>
            <br>
            <strong>Website:</strong><span> www.halley.vn</span>
            <br>
            <strong>Ngày lập đơn hàng:</strong><span class="ng-binding"> 20-09-2017 </span>
            <br>
        </div>
        <div style="clear: left"></div>
        <div style="text-align:center; font-size: 20px; font-weight: bold">
            Hóa đơn giao hàng
        </div>
        <div>
            <strong>Khách hàng:</strong><span> {{(curentItem.customerInfo && curentItem.customerInfo.name) ? curentItem.customerInfo.name : 'Chưa xác định'}}</span>
        </div>
        <div>
            <strong>Điện thoại: </strong><span>{{(curentItem.customerInfo && curentItem.customerInfo.phone) ? curentItem.customerInfo.phone : 'Chưa xác định'}}</span>
        </div>
        <div>
            <strong>Địa chỉ giao hàng: </strong>
            <span>
                    {{(curentItem.customerInfo && curentItem.customerInfo.address) ? curentItem.customerInfo.address : 'Chưa xác định'}}, {{currentCity.name}}, {{currentDistrict.name}}, {{currentTown.name}}
                </span>
        </div>
        <div ng-show="note!=null" class="ng-hide">
            <strong>Ghi chú: </strong><span></span>
        </div>
        <br>
        <table style="border: 1px solid #DDD; border-collapse: collapse; background-color: transparent; width: 100%">
            <thead style="border: 1px solid #DDD">
            <tr style="font-weight: bold;">
                <td style="border: 1px solid #DDD; padding: 5px; text-align: center">Sản phẩm</td>
                <td style="border: 1px solid #DDD; padding: 5px; text-align: center">Đơn giá</td>
                <td style="border: 1px solid #DDD; padding: 5px; text-align: center">Số lượng</td>
                <td style="border: 1px solid #DDD; padding: 5px; text-align: center">Thành tiền</td>
            </tr>
            </thead>
            <tbody style="border: 1px solid black">
            <tr class="first last odd ng-scope" *ngFor="let item of curentItem.itemsincart ; let stt = index">
                <td style="vertical-align:middle; border: 1px solid #DDD; padding: 5px; text-align: center">
                    {{item.id}}
                </td>
                <td style="vertical-align:middle; border: 1px solid #DDD; padding: 5px; text-align: center">
                    <div *ngIf="item.saleoff">
                        <del>{{ item.normal_price | number : '1.0-0'}}</del>
                        {{ item.sale_price   | number : '1.0-0'}}
                    </div>
                    <div *ngIf="!item.saleoff">
                        {{ item.normal_price | number : '1.0-0'}}
                    </div>
                </td>
                <td style="vertical-align:middle; border: 1px solid #DDD; padding: 5px; text-align: center"  >
                    {{item.quantity}}
                </td>
                <td style="vertical-align:middle; border: 1px solid #DDD; padding: 5px; text-align: center">
                    <div *ngIf="item.saleoff">
                        <del>{{ item.normal_price * item.quantity | number : '1.0-0'}}</del>
                        {{ item.sale_price * item.quantity  | number : '1.0-0'}}
                    </div>
                    <div *ngIf="!item.saleoff">
                        {{ item.normal_price * item.quantity | number : '1.0-0'}}
                    </div>
                </td>
            </tbody>
        </table>

        <table style="width:100%; margin-top: 10px">
            <tbody>
            <tr>
                <td style="text-align:right;">
                    <strong>Tổng tiền:</strong>
                </td>
                <td style="text-align:right;">
                    <strong  >{{ curentItem.totalcal  | number : '1.0-0' }} đ</strong>
                </td>
            </tr>
            <tr *ngIf="curentItem.discount">
                <td style="text-align:right;">
                    <strong>Giảm giá:</strong>
                </td>
                <td style="text-align:right;">
                    <strong  >- {{ curentItem.discount | number : '1.0-0' }} đ</strong>
                </td>
            </tr>
            <tr *ngIf="curentItem.coupon">
                <td style="text-align:right;">
                    <strong>Mã giảm giá:</strong>
                </td>
                <td style="text-align:right;">
                    <strong  >- {{ curentItem.coupon | number : '1.0-0' }} đ</strong>
                </td>
            </tr>
            <tr *ngIf="curentItem.deliveryfee">
                <td style="text-align:right;">
                    <strong>Phí giao hàng:</strong>
                </td>
                <td style="text-align:right;">
                    <strong  >{{curentItem.deliveryfee | number : '1.0-0' }} đ</strong>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">
                    <strong>Thanh toán:</strong>
                </td>
                <td style="text-align:right;">
                    <strong  >{{(curentItem.totalcal ? curentItem.totalcal : 0) - (curentItem.discount? curentItem.discount : 0)
                        + (curentItem.deliveryfee? curentItem.deliveryfee : 0) - (curentItem.coupon? curentItem.coupon : 0)   | number : '1.0-0' }} đ</strong>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <div class="text-center">
            <span>Sản phẩm được <strong>đổi trả trong 30 ngày</strong> và <strong>bảo hành trọn đời</strong> dựa trên số điện thoại đặt hàng.</span>
            <br>
            <span>Cảm ơn qúy khách đã tin tưởng sản phẩm của chúng tôi. Xin chào và hẹn gặp lại!</span>
        </div>
    </div>
</div>
