<app-loading *ngIf="loading" ></app-loading>
<div [@routerTransition] id="detail-page" *ngIf="detailInfo">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-12">
                <div class="row">
                    <div class="product-img-box col-sm-4">
                        <img src="/assets/default/products/{{detailInfo.avatar}}" alt="">
                    </div>
                    <div class="product-shop col-sm-4">
                        <div class="add-to-box">
                            <div class="std">
                                <h4 class="product_code">Mã sản phẩm: {{detailInfo.pid}}</h4>
                            </div>
                        </div>
                        <div class="product-info">
                            <div class="add-to-box" style="color:red;">
                                <p class="special-price">
                                    <span class="price">{{detailInfo.sale_price | number : '1.0-0' }}</span>
                                    <del>{{detailInfo.price | number : '1.0-0' }}</del>
                                </p>
                            </div>
                            <div class="cart-box">
                                <button class="btn btn-primary btn-dat-hang" *ngIf="detailInfo.quantity > 0" (click)="addToCart(detailInfo)">
                                    <i class="fa fa-mail-forward"></i>
                                    Đặt hàng
                                </button>
                                <span *ngIf="detailInfo.quantity <= 0">
                                    <i class="fa fa-exclamation-circle"></i>
                                    Sản phẩm tạm hết hàng .
                                </span>
                            </div>
                        </div>

                        <div class="product-info-luuy">
                            <strong><span class="fa fa-exclamation-circle"></span> <i>Lưu ý:</i></strong>
                            Halley Store là kho hàng, bạn không nên đến tận nơi mới chọn mẫu,
                            chỉ nên đến tận nơi để xem mẫu đã chọn.
                        </div>

                    </div>
                    <div class="sidebar col-sm-4">
                        <div class="custom-block custom-block-1">
                            <div class="pointer">
                                <i class="fa fa-road"></i>
                                <h3>Phí giao hàng tận nơi</h3>
                            </div>
                            <div class="pointer">
                                <i class="fa fa-refresh"></i>
                                <h3>Đổi trả, bảo hành</h3>
                            </div>
                            <div class="pointer">
                                <i class="fa fa-phone"></i>
                                <h3>097.456.9396</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="info-detail">
            <div class="col col-xs-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <span class="fa fa-exclamation-circle"></span> Thông tin chi tiết
                    </div>
                    <div class="card-block">
                        <p><img *ngFor="let image of detailInfo.detail_img" alt="" class="img-responsive" src="/assets/default/products_detail/{{image}}" style="margin:0 auto"></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
