$topnav-background-color: #FFF;
.sidebar{
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    top: 55px;
    left: 235px;
    width: 235px;
    margin-left: -235px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: $topnav-background-color;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    .list-group{
        a.list-group-item {
            background: $topnav-background-color;
            border: 0;
            border-radius: 0;
            color: #000;
            padding-left: 10px;
            text-decoration: none;
            .fa {
                margin-right: 10px;
            }
        }
        a:hover {
            color: #000;
            background: darken($topnav-background-color, 5%);
        }
        a.router-link-active {
            background: darken($topnav-background-color, 5%);
            color: #000;
        }
    }

    .nested-menu {
        .list-group-item {
            cursor: pointer;
        }
        .nested {
            list-style-type: none;
        }
        ul.submenu {
            display: none;
            height: 0;
            padding-left: 0;
        }
        & .expand {
            ul.submenu {
                display: block;
                list-style-type: none;
                height: auto;
                a {
                    padding: 10px 10px 10px 20px;
                    display: block;
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .sidebar {
        top: 54px;
        left: 0px;
    }
}
