<div class="page default-container" [@routerTransition]>
    <div class="main-container">
        <div class="main container">
            <div class="col-main">
                <div class="std">
                    <style type="text/css">
                        .main-container {padding:8px 0;}
                        .col-main {padding-bottom:0;}
                    </style>
                    <div class="row" style="margin-left:-8px;margin-right:-8px;">
                        <div class="col-sm-4" style="margin:8px 0;padding-left: 8px;padding-right: 8px;">
                            <div style="background-color:#2b262f;position:relative;">
                                <img src="/assets/default/images/blank.png" alt="" style="width:100%;max-height:480px;">
                                <div class="img-desc-home3" style="position:absolute;top:50%;width:100%;">
                                    <h3 style="color:#f2f4f3;font-weight:400;line-height:1;">Ưu tiên chất lượng</h3>
                                    <hr style="margin:15px 0;border-color:#ada4b5;">
                                    <p style="color:#f2f4f3;">Chúng tôi xem tiêu chí chất lượng là ưu tiên hàng đầu cho tất cả những sản phẩm của mình. Với Halley, một sản phẩm chất lượng phải thỏa mãn cả 2 yếu tố: tốt và rẻ.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8" style="margin:8px 0;padding-left: 8px;padding-right: 8px;">
                            <a [routerLink]="['/danh-muc']" class="image-link">
                                <img src="/assets/default/images/banner-02.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="row" style="margin-left:-8px;margin-right:-8px;">
                        <div class="col-sm-8" style="margin:8px 0;padding-left: 8px;padding-right: 8px;">
                            <a [routerLink]="['/danh-muc']" class="image-link">
                                <img src="/assets/default/images/banner-03.jpg">
                            </a>
                        </div>
                        <div class="col-sm-4" style="margin:8px 0;padding-left: 8px;padding-right: 8px;">
                            <div style="background-color:#2b262f;position:relative;">
                                <img src="/assets/default/images/blank.png" alt="" style="width:100%;max-height:480px;">
                                <div class="img-desc-home3" style="position:absolute;top:50%;width:100%;">
                                    <h3 style="color:#fff;font-weight:400;line-height:1;">Niềm tin là tất cả</h3>
                                    <hr style="margin:15px 0;border-color:#fff;">
                                    <p style="color:#f2f4f3;">Halley luôn cố gắng gửi gắm trong từng đơn hàng của mình một sự uy tín tuyệt đối. Một đơn hàng thành công không đơn thuần chỉ là một sản phẩm đến được với người dùng, mà đó còn là một hạt giống của niềm tin.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-left:-8px;margin-right:-8px;">
                        <div class="col-md-3 col-sm-6 col-xs-6" style="padding-left: 8px;padding-right: 8px;">
                            <a class="image-link"  [routerLink]="['/danh-muc']" style="margin:8px 0;"><img src="/assets/default/images/notice.png" alt="" style="width:100%;"></a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 md-f-right" style="padding-left: 8px;padding-right: 8px;">
                            <a class="image-link"  [routerLink]="['/danh-muc']" style="margin:8px 0;"><img src="/assets/default/images/policy.png" alt="" style="width:100%;"></a>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left: 8px;padding-right: 8px;">
                            <a class="image-link"  [routerLink]="['/danh-muc']" style="margin:8px 0;"><img src="/assets/default/images/image_link_new_4.jpg" alt="" style="width:100%;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
