<app-loading *ngIf="loading" ></app-loading>
<div class="animated bounceInDown"  *ngIf="!loading">
    <div class="main container">
        <div class="row">
            <div class="col-sm-3"  *ngFor="let product of productArray; let i = index" >
                <div *ngIf="i < perPage" class="animated fadeIn">
                    <a [routerLink]="['/chi-tiet', product.pid ]" title="" class="product-image">
                        <img [src]="'/assets/default/products/'+product.avatar" [ngClass]="{'sold-out':product.quantity == '0'}" class="img-fluid" style="margin: 0px auto;">
                    </a>
                    <div class="details-area text-center">
                        <span style="font-size: 1.5em;">{{product.pid}}</span>
                        <div class="action-area">
                            <div class="price-box">
                                <p class="special-price" *ngIf="product.quantity!='0'">
                                <span *ngIf="product.saleoff">
                                    <span class="price">{{product.sale_price | number : '1.0-0' }}</span>
                                    <del>{{product.price | number : '1.0-0' }}</del>
                                </span>
                                <span *ngIf="!product.saleoff">
                                    <span class="price">{{product.price | number : '1.0-0' }}</span>
                                </span>
                                </p>
                                <p *ngIf="product.quantity=='0'" style="font-size: 1.2em;">Hết hàng</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-center btn-load-more-div" *ngIf="productArray.length >= perPage">
            <button class="btn btn-primary" (click)="showMore()"><i class="fa fa-eye" aria-hidden="true"></i> Xem thêm</button>
        </div>
    </div>
</div>
