<div class="animated bounceInDown">
    <app-page-header [heading]="'Đơn đặt hàng'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col-md-2">
            <fieldset class="form-group">
                <input [(ngModel)]="phoneInput" (input)="filterPhone(phoneInput)" type="text" class="form-control" placeholder="Tìm theo số điện thoại" />
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset class="form-group">
                <input [(ngModel)]="nameInput" (input)="filterName(nameInput)" type="text" class="form-control" placeholder="Tìm theo tên khách hàng" />
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col col-12">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>#</th>
                    <th>Thời gian</th>
                    <th>Tên khách hàng</th>
                    <th class="hide-in-mobile">Số DT</th>
                    <th class="hide-in-mobile">Địa chỉ</th>
                    <th class="hide-in-mobile">Tổng tiền</th>
                    <th class="text-center">Tình trạng</th>
                </tr>
                <tr class="text" *ngFor="let item of filteredItems | paginate: { itemsPerPage: 10, currentPage: currentPage } ; let stt = index">
                    <td>{{stt + 1}}</td>
                    <td>{{item.startedAt | date: 'dd/MM/yyyy'}}</td>
                    <td>{{item.customer_name}}</td>
                    <td class="hide-in-mobile">{{item.customer_phone}}</td>
                    <td class="hide-in-mobile">{{item.customer_address}}</td>
                    <td class="hide-in-mobile">{{(item.totalcal ? item.totalcal : 0) - (item.discount? item.discount : 0)
                        + (item.fee? item.fee : 0) - (item.coupon? item.coupon.value : 0) | number : '1.0-0' }}</td>
                    <td class="text-center td-action" >
                        <span *ngIf="item.handle == '0'" class="fa fa-eye-slash" (click)="open(content); selectItem(item)"></span>
                        <span *ngIf="item.handle == '2'" class="fa fa-ban-circle" (click)="open(content); selectItem(item)"></span>
                        <span *ngIf="item.handle == '3'" class="fa fa-check" (click)="open(content); selectItem(item)"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <pagination-controls maxSize="5" *ngIf="items && items.length > 0" (pageChange)="currentPage = $event"></pagination-controls>
    </div>

    <ng-template #content let-c="close" let-d="dismiss" style="width: 900px">
        <div class="modal-header">
            <h4 class="modal-title">Chi tiết đơn đặt hàng</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="div-detail"><span class="span-title">Tên : </span>{{curentItem.customer_name}}</div>
            <div class="div-detail"><span class="span-title">Điện thoại : </span>{{curentItem.customer_phone}}</div>
            <div class="div-detail"><span class="span-title">Địa chỉ :</span>{{curentItem.customer_address}}, {{currentCity.name}}, {{currentDistrict.name}}, {{currentTown.name}}</div>
            <div class="row row-detail">
                <table class="table table-bordered tbl-cart-detail">
                    <tbody>
                    <tr>
                        <td></td>
                        <td>Sản phẩm</td>
                        <td class="hide-in-mobile">Đơn giá</td>
                        <td>Số lượng</td>
                        <td>Thành tiền</td>
                    </tr>
                    <tr *ngFor="let item of curentItem.itemsincart ; let stt = index">
                        <td>
                            <a [routerLink]="['/chi-tiet', item.id ]" target="_blank">
                                <img src="/assets/default/products/{{item.avatar}}" class="img-cart">
                            </a>
                        </td>
                        <td>
                            <a [routerLink]="['/chi-tiet', item.id ]" target="_blank">{{item.id}}</a>
                        </td>
                        <td class="hide-in-mobile">
                            <div *ngIf="item.saleoff">
                                <del>{{ item.normal_price | number : '1.0-0'}}</del>
                                {{ item.sale_price   | number : '1.0-0'}}
                            </div>
                            <div *ngIf="!item.saleoff">
                                {{ item.normal_price | number : '1.0-0'}}
                            </div>
                        </td>
                        <td>{{item.quantity}}</td>
                        <td>{{(item.quantity * ( item.saleoff ? item.sale_price : item.normal_price )) | number : '1.0-0' }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <table class="table table-bordered" style="width: 100%">
                        <tbody>
                        <tr>
                            <td class="tbl-total-label">
                                Tổng tiền
                                <div class="pull-right">{{ curentItem.totalcal  | number : '1.0-0' }}</div>
                            </td>
                        </tr>
                        <tr *ngIf="curentItem.discount">
                            <td>
                                Giảm giá
                                <div class="pull-right">- {{ curentItem.discount | number : '1.0-0' }}</div>
                            </td>
                        </tr>
                        <tr *ngIf="curentItem.coupon">
                            <td>
                                Coupon giảm giá
                                <div class="pull-right">- {{ curentItem.coupon.value | number : '1.0-0' }}</div>
                            </td>
                        </tr>

                        <tr *ngIf="curentItem.fee">
                            <td >
                                Phí giao hàng
                                <div class="pull-right">{{curentItem.fee | number : '1.0-0' }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tiền thanh toán
                                <div class="pull-right">{{(curentItem.totalcal ? curentItem.totalcal : 0) - (curentItem.discount? curentItem.discount : 0)
                                    + (curentItem.fee? curentItem.fee : 0) - (curentItem.coupon? curentItem.coupon.value : 0)   | number : '1.0-0' }}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label >Ghi chú xử lý</label>
                        <textarea class="form-control" rows="5"></textarea>
                        <small id="emailHelp" class="form-text text-muted">Cập nhật ghi chú nếu có.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" *ngIf="curentItem.handle == '0'" (click)="createSale(curentItem)">Tạo đơn giao hàng</button>
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Tắt</button>
        </div>
    </ng-template>

</div>
