<div [@routerTransition]>
    <app-page-header [heading]="'Order list'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col-md-2">
            <fieldset class="form-group">
                <input [(ngModel)]="phoneInput" (input)="filterPhone(phoneInput)" type="text" class="form-control" placeholder="Search by Phone" />
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset class="form-group">
                <input [(ngModel)]="nameInput" (input)="filterName(nameInput)" type="text" class="form-control" placeholder="Search by Name" />
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Orders list
                </div>
                <div class="card-block table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>#</th>
                            <th>Tên khách hàng</th>
                            <th>Số DT</th>
                            <th>Địa chỉ</th>
                            <th>Tổng tiền</th>
                        </tr>
                        <tr class="text" *ngFor="let item of filteredItems | paginate: { itemsPerPage: 10, currentPage: currentPage } ; let stt = index">
                            <td>{{stt + 1}}</td>
                            <td>{{item.customer_name}}</td>
                            <td>{{item.customer_phone}}</td>
                            <td>{{item.customer_address}}</td>
                            <td>{{(item.totalcal - item.discount) | number : '1.0-0' }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls *ngIf="items && items.length > 0" (pageChange)="currentPage = $event"></pagination-controls>

                </div>
            </div>
        </div>
    </div>
</div>

