<div [@routerTransition]>
    <app-page-header [heading]="'DEMO shipper API '" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Basic example
                </div>

                <div class="card-block table-responsive table-bordered">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên khách hàng</th>
                            <th>Số DT</th>
                            <th>Địa chỉ</th>
                            <th>Tổng tiền</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text" *ngFor="let item of items | async ; let stt = index">
                            <td>{{stt + 1}}</td>
                            <td>{{item.customer_name}}</td>
                            <td>{{item.customer_phone}}</td>
                            <td>{{item.customer_address}}</td>
                            <td>{{item.totalcal}}</td>
                            <td><button class="btn btn-sm btn-primary" *ngIf="item.handle == 0">Gửi đơn hàng</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
