/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import '../../node_modules/angular2-toaster/toaster';
.modify-modal .modal-dialog{
    width: 90%;
    margin: 10px auto;
    max-width: 800px;
}
