.default-container {
    padding-top: 55px;
}
.product-image img {
    max-width: 100%;
    height: auto;
}
.btn-load-more-div {
    margin-top: 10px;
    margin-bottom: 20px;
}
.product-image-area {

}
.sold-out{
    opacity: 0.5;
}
