.default-container {
    padding-top: 70px;
}
.div-product {
    margin: 15px 0;
}
.price{
    font-size: 1.3em;
    color: red;
}
.product-image img {
    max-width: 100%;
    height: auto;
}
.btn-load-more-div {
    margin-top: 10px;
    margin-bottom: 20px;
}
.product-image-area {

}
.sold-out{
    opacity: 0.5;
}
