<div [@routerTransition]>
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-12">
                <div class="row" id="result-ajax">
                    <div class="col-sm-3">
                        <div class="item-area">
                            <div class="product-image-area">
                                <a [routerLink]="['/chi-tiet', '186']" title="" class="product-image">
                                    <img src="/assets/default/products/155_avatar.jpg" alt="" class="img-responsive" style="margin: 0px auto;">
                                </a>
                            </div>
                            <div class="details-area text-center">
                                <h3 class="product-name">
                                    <a [routerLink]="['/chi-tiet', '186']" title="">155</a>
                                </h3>
                                <div class="action-area">
                                    <div class="price-box">
                                        <p class="special-price">
                                            <span class="price-label">Special Price</span>
                                            <span class="price">
                                                                270,000                                                            </span>
                                            <del>
                                                390,000                                                            </del>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-area">
                            <div class="product-image-area">
                                <a [routerLink]="['/chi-tiet', '186']" title="" class="product-image">
                                    <img src="/assets/default/products/145_avatar.jpg" alt="" class="img-responsive" style="margin: 0px auto;">
                                </a>
                            </div>
                            <div class="details-area text-center">
                                <h3 class="product-name">
                                    <a [routerLink]="['/chi-tiet', '186']" title="">157</a>
                                </h3>
                                <div class="action-area">
                                    <div class="price-box">
                                        <p class="special-price">
                                            <span class="price-label">Special Price</span>
                                            <span class="price">
                                                                270,000                                                            </span>
                                            <del>
                                                390,000                                                            </del>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-area">
                            <div class="product-image-area">
                                <a [routerLink]="['/chi-tiet', '186']" title="" class="product-image">
                                    <img src="/assets/default/products/146_avatar.jpg" alt="" class="img-responsive" style="margin: 0px auto;">
                                </a>
                            </div>
                            <div class="details-area text-center">
                                <h3 class="product-name">
                                    <a [routerLink]="['/chi-tiet', '186']" title="">155</a>
                                </h3>
                                <div class="action-area">
                                    <div class="price-box">
                                        <p class="special-price">
                                            <span class="price-label">Special Price</span>
                                            <span class="price">
                                                                270,000                                                            </span>
                                            <del>
                                                390,000                                                            </del>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-area">
                            <div class="product-image-area">
                                <a [routerLink]="['/chi-tiet', '186']" title="" class="product-image">
                                    <img src="/assets/default/products/147_avatar.jpg" alt="" class="img-responsive" style="margin: 0px auto;">
                                </a>
                            </div>
                            <div class="details-area text-center">
                                <h3 class="product-name">
                                    <a [routerLink]="['/chi-tiet', '186']" title="">155</a>
                                </h3>
                                <div class="action-area">
                                    <div class="price-box">
                                        <p class="special-price">
                                            <span class="price-label">Special Price</span>
                                            <span class="price">
                                                                270,000                                                            </span>
                                            <del>
                                                390,000                                                            </del>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-area">
                            <div class="product-image-area">
                                <a [routerLink]="['/chi-tiet', '186']" title="" class="product-image">
                                    <img src="/assets/default/products/155_avatar.jpg" alt="" class="img-responsive" style="margin: 0px auto;">
                                </a>
                            </div>
                            <div class="details-area text-center">
                                <h3 class="product-name">
                                    <a [routerLink]="['/chi-tiet', '186']" title="">155</a>
                                </h3>
                                <div class="action-area">
                                    <div class="price-box">
                                        <p class="special-price">
                                            <span class="price-label">Special Price</span>
                                            <span class="price">
                                                                270,000                                                            </span>
                                            <del>
                                                390,000                                                            </del>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-area">
                            <div class="product-image-area">
                                <a [routerLink]="['/chi-tiet', '186']" title="" class="product-image">
                                    <img src="/assets/default/products/145_avatar.jpg" alt="" class="img-responsive" style="margin: 0px auto;">
                                </a>
                            </div>
                            <div class="details-area text-center">
                                <h3 class="product-name">
                                    <a [routerLink]="['/chi-tiet', '186']" title="">157</a>
                                </h3>
                                <div class="action-area">
                                    <div class="price-box">
                                        <p class="special-price">
                                            <span class="price-label">Special Price</span>
                                            <span class="price">
                                                                270,000                                                            </span>
                                            <del>
                                                390,000                                                            </del>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-area">
                            <div class="product-image-area">
                                <a [routerLink]="['/chi-tiet', '186']" title="" class="product-image">
                                    <img src="/assets/default/products/146_avatar.jpg" alt="" class="img-responsive" style="margin: 0px auto;">
                                </a>
                            </div>
                            <div class="details-area text-center">
                                <h3 class="product-name">
                                    <a [routerLink]="['/chi-tiet', '186']" title="">155</a>
                                </h3>
                                <div class="action-area">
                                    <div class="price-box">
                                        <p class="special-price">
                                            <span class="price-label">Special Price</span>
                                            <span class="price">
                                                                270,000                                                            </span>
                                            <del>
                                                390,000                                                            </del>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-area">
                            <div class="product-image-area">
                                <a [routerLink]="['/chi-tiet', '186']" title="" class="product-image">
                                    <img src="/assets/default/products/147_avatar.jpg" alt="" class="img-responsive" style="margin: 0px auto;">
                                </a>
                            </div>
                            <div class="details-area text-center">
                                <h3 class="product-name">
                                    <a [routerLink]="['/chi-tiet', '186']" title="">155</a>
                                </h3>
                                <div class="action-area">
                                    <div class="price-box">
                                        <p class="special-price">
                                            <span class="price-label">Special Price</span>
                                            <span class="price">
                                                                270,000                                                            </span>
                                            <del>
                                                390,000                                                            </del>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-area">
                            <div class="product-image-area">
                                <a [routerLink]="['/chi-tiet', '186']" title="" class="product-image">
                                    <img src="/assets/default/products/155_avatar.jpg" alt="" class="img-responsive" style="margin: 0px auto;">
                                </a>
                            </div>
                            <div class="details-area text-center">
                                <h3 class="product-name">
                                    <a [routerLink]="['/chi-tiet', '186']" title="">155</a>
                                </h3>
                                <div class="action-area">
                                    <div class="price-box">
                                        <p class="special-price">
                                            <span class="price-label">Special Price</span>
                                            <span class="price">
                                                                270,000                                                            </span>
                                            <del>
                                                390,000                                                            </del>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-area">
                            <div class="product-image-area">
                                <a [routerLink]="['/chi-tiet', '186']" title="" class="product-image">
                                    <img src="/assets/default/products/145_avatar.jpg" alt="" class="img-responsive" style="margin: 0px auto;">
                                </a>
                            </div>
                            <div class="details-area text-center">
                                <h3 class="product-name">
                                    <a [routerLink]="['/chi-tiet', '186']" title="">157</a>
                                </h3>
                                <div class="action-area">
                                    <div class="price-box">
                                        <p class="special-price">
                                            <span class="price-label">Special Price</span>
                                            <span class="price">
                                                                270,000                                                            </span>
                                            <del>
                                                390,000                                                            </del>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-area">
                            <div class="product-image-area">
                                <a [routerLink]="['/chi-tiet', '186']" title="" class="product-image">
                                    <img src="/assets/default/products/146_avatar.jpg" alt="" class="img-responsive" style="margin: 0px auto;">
                                </a>
                            </div>
                            <div class="details-area text-center">
                                <h3 class="product-name">
                                    <a [routerLink]="['/chi-tiet', '186']" title="">155</a>
                                </h3>
                                <div class="action-area">
                                    <div class="price-box">
                                        <p class="special-price">
                                            <span class="price-label">Special Price</span>
                                            <span class="price">
                                                                270,000                                                            </span>
                                            <del>
                                                390,000                                                            </del>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-area">
                            <div class="product-image-area">
                                <a [routerLink]="['/chi-tiet', '186']" title="" class="product-image">
                                    <img src="/assets/default/products/147_avatar.jpg" alt="" class="img-responsive" style="margin: 0px auto;">
                                </a>
                            </div>
                            <div class="details-area text-center">
                                <h3 class="product-name">
                                    <a [routerLink]="['/chi-tiet', '186']" title="">155</a>
                                </h3>
                                <div class="action-area">
                                    <div class="price-box">
                                        <p class="special-price">
                                            <span class="price-label">Special Price</span>
                                            <span class="price">
                                                                270,000                                                            </span>
                                            <del>
                                                390,000                                                            </del>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
