<app-loading *ngIf="loading" ></app-loading>
<div class="animated bounceInDown"  *ngIf="productArray.length > 0 ">
    <div class="main container">
        <div class="tab-title clearfix">
            <h2 class="title">{{cateInfo.name}}</h2>
        </div>
        <div class="row">
            <div class="col-sm-3"  *ngFor="let product of productArray; let i = index" [hidden]="i >= numberShow" >
                <div [routerLink]="['/chi-tiet', product.pid ]" class="div-product animated fadeIn hvr-underline-from-center">
                    <a class="product-image">
                        <img [src]="'/assets/default/products/'+product.avatar" [ngClass]="{'sold-out':product.quantity == '0'}" class="img-fluid" style="margin: 0px auto;">
                    </a>
                    <div class="details-area text-center">
                        <span class="product-name">{{product.pid}}</span>
                        <div class="product-price">
                            <p class="special-price" *ngIf="product.quantity!='0'">
                                <span *ngIf="product.saleoff">
                                     <del class="sale-price">{{product.price | number : '1.0-0' }} đ</del>
                                    <span class="price">{{product.sale_price | number : '1.0-0' }} đ</span>
                                </span>
                                <span *ngIf="!product.saleoff">
                                    <span class="price">{{product.price | number : '1.0-0' }} đ</span>
                                </span>
                            </p>
                            <p *ngIf="product.quantity=='0'" style="font-size: 1.2em;">Hết hàng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 text-center btn-load-more-div" *ngIf="productArray.length >= numberShow">
                <a class="btn-load-more hvr-shutter-out-horizontal" (click)="showMore()">Xem thêm</a>
            </div>
        </div>
    </div>
</div>
