<toaster-container></toaster-container>
<div class="animated bounceInDown no-print">
    <app-page-header [heading]="'Danh sách sản phẩm'"></app-page-header>
    <div class="row" style="padding: 0 15px">
        <button class="btn btn-primary" (click)="resetCurentItem(); open(content)">Thêm sản phẩm</button>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-12 div-product-parent"  *ngFor="let item of filteredItems | paginate: { itemsPerPage: 12, currentPage: currentPage } ; let stt = index" >
            <a class="link-delete"
               mwlConfirmationPopover
               [title]="'Thông báo'"
               [message]="'Bạn muốn chắc chắn muốn xóa dữ liệu này ?'"
               [confirmText]="'Có'"
               [cancelText]="'Không'"
               placement="left"
               (confirm)="deleteProduct(item.$key)"
            >
                <i class="fa fa-times-circle-o"></i>
            </a>
            <div class="div-product animated fadeIn hvr-underline-from-center">
                <a (click)="selectItem(item); open(content)" class="product-image">
                    <img [src]="'/assets/default/products/'+item.avatar" [ngClass]="{'sold-out':item.quantity == '0'}" class="img-fluid" style="margin: 0px auto;">
                </a>
                <div class="details-area text-center">
                    <span class="product-name">{{item.pid}}</span>
                    <div class="product-price">
                        <p class="special-price" *ngIf="item.quantity!='0'">
                                <span *ngIf="item.saleoff">
                                     <del class="sale-price">{{item.price | number : '1.0-0' }} đ</del>
                                    <span class="price">{{item.sale_price | number : '1.0-0' }} đ</span>
                                </span>
                            <span *ngIf="!item.saleoff">
                                    <span class="price">{{item.price | number : '1.0-0' }} đ</span>
                                </span>
                        </p>
                        <p *ngIf="item.quantity=='0'" style="font-size: 1.2em;">Hết hàng</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="text-center">
        <pagination-controls maxSize="5" *ngIf="items && items.length > 0" (pageChange)="currentPage = $event"></pagination-controls>
    </div>

    <ng-template #content let-c="close" let-d="dismiss" style="width: 900px">
        <div class="modal-header">
            <h4 class="modal-title">
                <span *ngIf="!curentItem">Thêm sản phẩm</span>
                <span *ngIf="curentItem">Cập nhật sản phẩm</span>
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table-form-product">
                <tr>
                    <td style="width: 170px"> Danh mục </td>
                    <td>
                        <select class="form-control" [(ngModel)]="curentItem.cate">
                            <option [value]="null" >Chọn danh mục</option>
                            <option *ngFor="let cate of arrayCate" [ngValue]="cate.$key">{{cate.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Mô tả </td>
                    <td><input class="form-control" [(ngModel)]="curentItem.desc" placeholder="Mô tả sản phẩm"></td>
                </tr>
                <tr>
                    <td> Mã sản phẩm </td>
                    <td><input class="form-control" [(ngModel)]="curentItem.pid" placeholder="Mã sản phẩm"></td>
                </tr>
                <tr>
                    <td> Cùng loại </td>
                    <td><input class="form-control" [(ngModel)]="curentItem.group" placeholder="Cùng loại"></td>
                </tr>
                <tr>
                    <td> Giá bán thường </td>
                    <td><input class="form-control" [(ngModel)]="curentItem.price" placeholder="Giá bán thường"></td>
                </tr>
                <tr>
                    <td> Giá bán khuyến mãi </td>
                    <td><input class="form-control" [(ngModel)]="curentItem.sale_price" placeholder="Giá bán khuyến mãi"></td>
                </tr>
                <tr>
                    <td> Giá vốn </td>
                    <td><input class="form-control" [(ngModel)]="curentItem.inprice" placeholder="Giá vốn"></td>
                </tr>
                <tr>
                    <td> Số lượng </td>
                    <td><input class="form-control" [(ngModel)]="curentItem.quantity" placeholder="Số lượng"></td>
                </tr>
                <tr>
                    <td> Ảnh đại diện </td>
                    <td> <input class="form-control" [(ngModel)]="curentItem.avatar" placeholder="Ảnh đại diện"></td>
                </tr>
                <tr>
                    <td> Ảnh chi tiết </td>
                    <td> <input class="form-control" [(ngModel)]="curentItem.detail_img" placeholder="Ảnh chi tiết"></td>
                </tr>
                <tr>
                    <td> Khuyến mãi </td>
                    <td><input type="checkbox" [(ngModel)]="curentItem.saleoff"></td>
                </tr>
                <tr>
                    <td> Hiển thị </td>
                    <td><input type="checkbox" [(ngModel)]="curentItem.show"></td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="addOrUpdateProduct()">Xác nhận</button>
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Thoát</button>
        </div>
    </ng-template>


</div>
